.profile-card{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: fixed;
  background-color: #fff;
  border: 1px solid #EB6600;
  border-radius: 5px;
}
.profile-image{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.camera-icon{
  border: none;
  outline: none;
  background: transparent;
}

.profile-name{
  font-family: 'Inter';
  font-weight: 500;
  font-size: 25px;
}

.member-since{
  font-family: 'Inter';
  color: rgb(80, 78, 78);
}

.action-btn{
  padding: 8px;
  border: none;
  margin: 5px;
  border-radius: 5px;
  outline: none;
  font-size: 15px;
}