.car-card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
}

.car-card:hover {
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}

.car-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 3px solid #21cb98;
}

.car-details {
  padding: 16px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.car-details h5 {
  font-size: 1.2rem;
  margin-bottom: 8px;
  color: #333;
}

.car-details p {
  margin: 4px 0;
  font-size: 0.9rem;
  color: #555;
}

.price {
  font-size: 1rem;
  color: #000;
  font-weight: bold;
}

.location {
  font-size: 0.9rem;
  color: #777;
  display: flex;
  align-items: center;
}

.car-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  padding: 10px;
  overflow-x: hidden;
}

.search-container {
  position: relative;
  width: 100%;
  margin: 20px auto;
}

.custom-input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #DE3163;
}

.search-results {
  position: absolute;
  background: white;
  border: 1px solid #ddd;
  z-index: 1000;
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  border-radius: 5px;
}

.search-result-item {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.search-result-item:hover {
  background: #f5f5f5;
}

@media (max-width: 768px) {
  .car-card {
      box-shadow: none;
  }

  .car-list {
      grid-template-columns: 1fr;
      gap: 16px;
  }

  .filter-box {
      margin-top: 70px;
  }
}

@media (max-width: 480px) {
  .car-image {
      height: 150px;
  }

  .car-details h5 {
      font-size: 1rem;
  }

  .car-details p {
      font-size: 0.8rem;
  }
}
